<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Gallery</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Movie Gallery</h1>  
  <div class="card_container">
    {% for movie in movies %}
    <div class="card">
      <img src="{{movie.poster}}" alt="{{movie.title}} poster">
      <a href="{% url 'movie_detail' movie.id %}">{{movie.title}}</a>
      <p>Released Year: {{movie.release_year}}</p>
      <p>Plot: {{movie.description}}</p>
      <p>Rating: {{movie.rating}}</p>
    </div>
    {% endfor %}  
  </div>
</body>
</html>